local_db
production_db
.json

accounts/__pycache__
assignments/__pycache__
courses/__pycache__
proofchecker/__pycache__

proofchecker/proofs/__pycache__
proofchecker/utils/__pycache__
proofchecker/utils/ply/__pycache__
proofchecker/rules/__pycache__/

prooftool/__pycache__
prooftool/settings/__pycache__

*.py[cod]
*.log
.idea/
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.sqlite3

