local_db
production_db
.json
locustfile.py
__pycache__/locustfile.cpython-310.pyc
accounts/__pycache__/__init__.cpython-310.pyc
accounts/__pycache__/admin.cpython-310.pyc
accounts/__pycache__/apps.cpython-310.pyc
accounts/__pycache__/decorators.cpython-310.pyc
accounts/__pycache__/forms.cpython-310.pyc
accounts/__pycache__/models.cpython-310.pyc
accounts/__pycache__/tokens.cpython-310.pyc
accounts/__pycache__/urls.cpython-310.pyc
accounts/__pycache__/views.cpython-310.pyc
accounts/migrations/__pycache__/__init__.cpython-310.pyc
assignments/__pycache__/__init__.cpython-310.pyc
assignments/__pycache__/admin.cpython-310.pyc
assignments/__pycache__/apps.cpython-310.pyc
assignments/__pycache__/forms.cpython-310.pyc
assignments/__pycache__/models.cpython-310.pyc
assignments/__pycache__/urls.cpython-310.pyc
assignments/__pycache__/views.cpython-310.pyc
assignments/migrations/__pycache__/__init__.cpython-310.pyc
assignments/migrations/__pycache__/0001_initial.cpython-310.pyc
assignments/migrations/__pycache__/0002_initial.cpython-310.pyc
courses/__pycache__/__init__.cpython-310.pyc
courses/__pycache__/admin.cpython-310.pyc
courses/__pycache__/apps.cpython-310.pyc
courses/__pycache__/forms.cpython-310.pyc
courses/__pycache__/models.cpython-310.pyc
courses/__pycache__/urls.cpython-310.pyc
courses/__pycache__/views.cpython-310.pyc
courses/migrations/__pycache__/__init__.cpython-310.pyc
proofchecker/__pycache__/__init__.cpython-310.pyc
proofchecker/__pycache__/admin.cpython-310.pyc
proofchecker/__pycache__/apps.cpython-310.pyc
proofchecker/__pycache__/forms.cpython-310.pyc
proofchecker/__pycache__/models.cpython-310.pyc
proofchecker/__pycache__/urls.cpython-310.pyc
proofchecker/__pycache__/views.cpython-310.pyc
proofchecker/migrations/0004_proof_disproof_string.py
proofchecker/migrations/__pycache__/__init__.cpython-310.pyc
proofchecker/migrations/__pycache__/0001_initial.cpython-310.pyc
proofchecker/migrations/__pycache__/0002_alter_assignment_start_date.cpython-310.pyc
proofchecker/migrations/__pycache__/0003_auto_20230216_1846.cpython-310.pyc
proofchecker/migrations/__pycache__/0004_proof_disproof_string.cpython-310.pyc
proofchecker/proofs/__pycache__/disprover.cpython-310.pyc
proofchecker/proofs/__pycache__/exprMethods.cpython-310.pyc
proofchecker/proofs/__pycache__/proofchecker.cpython-310.pyc
proofchecker/proofs/__pycache__/proofobjects.cpython-310.pyc
proofchecker/proofs/__pycache__/proofutils.cpython-310.pyc
proofchecker/rules/__pycache__/__init__.cpython-310.pyc
proofchecker/rules/__pycache__/assumption.cpython-310.pyc
proofchecker/rules/__pycache__/biconditionalelim.cpython-310.pyc
proofchecker/rules/__pycache__/biconditionalintro.cpython-310.pyc
proofchecker/rules/__pycache__/conditionalelim.cpython-310.pyc
proofchecker/rules/__pycache__/conditionalintro.cpython-310.pyc
proofchecker/rules/__pycache__/conjunctionelim.cpython-310.pyc
proofchecker/rules/__pycache__/conjunctionintro.cpython-310.pyc
proofchecker/rules/__pycache__/conversionofquantifiers.cpython-310.pyc
proofchecker/rules/__pycache__/demorgan.cpython-310.pyc
proofchecker/rules/__pycache__/disjunctionelim.cpython-310.pyc
proofchecker/rules/__pycache__/disjunctionintro.cpython-310.pyc
proofchecker/rules/__pycache__/disjunctivesyllogism.cpython-310.pyc
proofchecker/rules/__pycache__/doublenegationelim.cpython-310.pyc
proofchecker/rules/__pycache__/dubnegintro.cpython-310.pyc
proofchecker/rules/__pycache__/equalityelim.cpython-310.pyc
proofchecker/rules/__pycache__/equalityintro.cpython-310.pyc
proofchecker/rules/__pycache__/excludedmiddle.cpython-310.pyc
proofchecker/rules/__pycache__/existentialelim.cpython-310.pyc
proofchecker/rules/__pycache__/existentialintro.cpython-310.pyc
proofchecker/rules/__pycache__/explosion.cpython-310.pyc
proofchecker/rules/__pycache__/indirectproof.cpython-310.pyc
proofchecker/rules/__pycache__/modustollens.cpython-310.pyc
proofchecker/rules/__pycache__/negationelim.cpython-310.pyc
proofchecker/rules/__pycache__/negationintro.cpython-310.pyc
proofchecker/rules/__pycache__/newrule.cpython-310.pyc
proofchecker/rules/__pycache__/premise.cpython-310.pyc
proofchecker/rules/__pycache__/reiteration.cpython-310.pyc
proofchecker/rules/__pycache__/rule.cpython-310.pyc
proofchecker/rules/__pycache__/rulechecker.cpython-310.pyc
proofchecker/rules/__pycache__/universalelim.cpython-310.pyc
proofchecker/rules/__pycache__/universalintro.cpython-310.pyc
proofchecker/utils/__pycache__/__init__.cpython-310.pyc
proofchecker/utils/__pycache__/binarytree.cpython-310.pyc
proofchecker/utils/__pycache__/constants.cpython-310.pyc
proofchecker/utils/__pycache__/follexer.cpython-310.pyc
proofchecker/utils/__pycache__/folparser.cpython-310.pyc
proofchecker/utils/__pycache__/numlexer.cpython-310.pyc
proofchecker/utils/__pycache__/numparser.cpython-310.pyc
proofchecker/utils/__pycache__/tfllexer.cpython-310.pyc
proofchecker/utils/__pycache__/tflparser.cpython-310.pyc
proofchecker/utils/ply/__pycache__/__init__.cpython-310.pyc
proofchecker/utils/ply/__pycache__/lex.cpython-310.pyc
proofchecker/utils/ply/__pycache__/yacc.cpython-310.pyc
prooftool/__pycache__/__init__.cpython-310.pyc
prooftool/__pycache__/urls.cpython-310.pyc
prooftool/__pycache__/wsgi.cpython-310.pyc
prooftool/settings/__pycache__/__init__.cpython-310.pyc
prooftool/settings/__pycache__/base.cpython-310.pyc
prooftool/settings/__pycache__/local.cpython-310.pyc
prooftool/settings/__pycache__/production.cpython-310.pyc

accounts/__pycache__
assignments/__pycache__
courses/__pycache__
proofchecker/__pycache__

proofchecker/proofs/__pycache__
proofchecker/utils/__pycache__
proofchecker/utils/ply/__pycache__
proofchecker/rules/__pycache__/

prooftool/__pycache__
prooftool/settings/__pycache__

*.py[cod]
*.log
.idea/
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.sqlite3

