{% extends 'proofchecker/base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="py-5 my-5">
        <div class=" py-1 my-1 d-flex justify-content-center ">

            <h2>Sign up as a {{ user_type }}</h2>

        </div>
        <div class=" d-flex justify-content-center ">
            <div class="border-top py-1 my-1">
                <form method="post" novalidate>
                    {% csrf_token %}

                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center mx-auto">
                        <button type="submit" class="btn btn-success">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}