{% extends "proofchecker/base.html" %}
{% block content %}
    <div class="py-5 my-5 px-5 mx-5">
        <div class="container">
            <a href="{% url 'add_proof' %}" class="btn btn-primary btn-sm"> Add a new Proof </a>
            <hr>
            <h4>Saved Proofs</h4>
            <div class="row mt-3">
                {% for object in object_list %}
                    <div class="card mx-2 mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            <h5 style="text-align: center"><b> {{ object.name }}</b></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Premise(s):</b> {{ object.premises }}</li>
                            <li class="list-group-item"><b>Conclusion:</b> {{ object.conclusion }}</li>
                            <li class="list-group-item"><b>Lines:</b> {{ object.proofline_set.count }} </li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'update_proof' object.id %}" class="card-link btn btn-primary"> Edit </a>
                            <a href="{% url 'proof_detail' object.id %}" class="card-link btn btn-secondary">
                                Details </a>
                            <a href="{% url 'delete_proof' object.id %}" class="card-link btn btn-secondary">
                                Delete </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                {% if is_paginated %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}  </a></li>

                        {% endif %}
                    {% endfor %}

                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
