{% extends "proofchecker/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <br>
        <h3>Delete Proof</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete proof "{{ object.name }}"?</p>
            <input class="btn btn-danger" type="submit" value="Confirm"/>
            <a class="btn btn-primary" href="{% url 'all_proofs' %}">Back to all proofs</a>
        </form>
    </div>
{% endblock %}