{% extends "proofchecker/base.html" %}
{% block content %}
    <div class="px-5 mx-5">
        <h1 class="display-4 fw-bold pb-3 pt-5 mt-5">About the Developers</h1>

        <p>Proof Buddy was developed by a group of graduate students at Drexel University.</p>
        <br/>

        <div class="container float-left">
            <div class="row">
                <div class="col">

                    <h2 class="font-weight-bold">Team 1</h2>
                    <br/>

                    <h4>Colton Shoenberger</h4>
                    <ul>
                        <li>Team Lead</li>
                        <li>Lead designer of proof validation</li>
                        <li>Testing/QA Lead</li>
                    </ul>

                    <h4>Aiasha Sattar</h4>
                    <ul>
                        <li>Full-stack developer</li>
                    </ul>

                    <h4>Thomas Andrews</h4>
                    <ul>
                        <li>Front-end developer</li>
                    </ul>

                    <h4>Rakhfa Amin</h4>
                    <ul>
                        <li>Back-end developer</li>
                    </ul>
                </div>

                <div class="col">
                    <h2 class="font-weight-bold">Team 2</h2>
                    <br/>

                    <h4>Nicole Itchon</h4>
                    <ul>
                        <li>Team Lead</li>
                        <li>Testing/QA Lead</li>
                    </ul>

                    <h4>Raphael Perez</h4>
                    <ul>
                        <li>Full-stack developer</li>
                    </ul>

                    <h4>Iftekhar Rahman</h4>
                    <ul>
                        <li>Full-stack developer</li>
                    </ul>


                    <h4>Viet Pham</h4>
                    <ul>
                        <li>Full-stack developer</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
