{% extends "proofchecker/base.html" %}
{% block content %}

    <h1 class="display-4 fw-bold pb-3 pt-5 mt-5">About the Developers</h1>

    <p>ProofChecker was developed by a group of graduate students at Drexel University.</p>

    <br />

    <h2>Colton Shoenberger</h2>
    <ul>
        <li>Team Lead</li>
        <li>Lead designer of proof validation</li>
        <li>Testing/QA Lead</li>
    </ul>

    <h2>Aiasha Sattar</h2>
    <ul>
        <li>Full-stack developer</li>
    </ul>

    <h2>Thomas Andrews</h2>
    <ul>
        <li>Front-end developer</li>
    </ul>

    <h2>Rakhfa Amin</h2>
    <ul>
        <li>Back-end developer</li>
    </ul>




{% endblock %}