{% extends 'proofchecker/base.html' %} {% block content %}
    
<div class="py-5 my-5">

    <h1 class="display-3 fw-bold pb-3">ProofChecker</h1>

    {% if user.is_authenticated %} {% if user.is_student %} {% if user.first_name %}
      <h3>Welcome, {{user.first_name}} {{user.last_name}}!</h3>
    {% else %}
       <h3>Welcome, {{user.username}} to your Student Account!</h3>
    {% endif %}
    {% elif user.is_instructor %} {% if user.first_name %}
        <h3>Welcome, {{user.first_name}} {{user.last_name}}!</h3>
    {% else %}
        <h3>Welcome, {{user.username}} !</h3>
     {% endif %}


    {% endif %} {% else %}
        <h3>Welcome, Guest!</h3>
    {% endif %}


    {% if user.is_authenticated %}
        <p class="lead pt-4"> Begin working on some <a href="{% url 'all_proofs' %}">proofs</a>!</p>
    {% else %}
        <p class="lead pt-4"> <strong><a href="{% url 'login' %}">Log in</a></strong> to begin working on some proofs!</p>
        <p class="lead pt-4"> Don't have an account?  <a href="{% url 'signup' %}">Sign up</a> now!</p>
        <br />
        <br />
        <br />
        <br />
        <p class="pt-6"> Or, try out a proof without signing in with our new <a href="{% url 'proof_checker' %}"> TFL ProofChecker </a> tool! </p>
        <div class="alert alert-warning"><strong>WARNING:</strong> You cannot save proofs without signing in!</div>
    {% endif %} 


</div>

{% endblock %}