{% extends 'proofchecker/base.html' %} {% block content %}


    <div class="py-5 my-5 px-5 mx-5">

        <img src="../../../media/logos/drexel-dragon-all_blue.png" class="drexel-logo img-fluid pb-4 mb-4" alt="">

        <div class="home-container-left">

            <div class="home-title-text">
                PROOFS<br> MADE EASY
            </div>

            <br>
            {% if user.is_authenticated %} {% if user.is_student %} {% if user.first_name %}
                <h3>Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
            {% else %}
                <h3>Hi <span class="wave">👋</span> <strong>{{ user.username }}</strong>, this is student account</h3>
            {% endif %}
            {% elif user.is_instructor %} {% if user.first_name %}
                    <h3>Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
                {% else %}
                    <h3>Welcome, {{ user.username }} </h3>
                {% endif %}

            {% endif %}{% endif %}

            {% if user.is_authenticated %}
                <br>
                <a class="btn btn-primary btn-lg home-btn" type="submit" href="{% url 'all_proofs' %}">Begin</a>

            {% else %}
                <div id="home-text-container">
                    <p>
                        This web app is the platform created by professors and students to provide a way for student to
                        learn about proofs and check their progress.
                    </p>
                </div>
                <!--
            <p class="lead pt-4"><strong><a href="{% url 'login' %}">Log in</a></strong> to begin working on
                some
                proofs!</p>
            <p class="lead pt-4"> Don't have an account? <a href="{% url 'signup' %}">Sign up</a> now!</p>-->

                <br>
                <a class="btn btn-primary btn-lg home-btn" type="submit" href="{% url 'signup' %}">Sign Up</a>

                <a class="btn btn-lg btn-secondary home-btn ml-4" href="{% url 'login' %}">Log in</a>


                <!--<p class="pt-6"> Or, try out a proof without signing in with our new <a
                    href="{% url 'proof_checker' %}"> TFL Proof Buddy </a> tool! </p> -->

            {% endif %}



        </div>
    </div>

{% endblock %}
