{% extends 'proofchecker/base.html' %} {% load static %} {% block content %}

    <h2>
        <strong>ProofChecker v0.1: </strong>Validate your proof!</h2>
    <div class="alert alert-warning">
        <strong>WARNING:</strong> You cannot save proofs without signing in!
    </div>
    <hr>

    <form action="" method="post">
        <table class="table table-hover table-large">

            {% csrf_token %} {% for line in form %}

            <div class="row">
                <div id="premise-conclusion" class="col-md-1 col-sm-6">
                    {{ line.label }}
                </div>

                <div class="col-12 col-md-8">
                    {{ line }}
                </div>
            </div>
        {% endfor %}
            <button id="btn_start_proof" class="btn btn-primary mx-2" type="button" onclick="start_proof(this)">Start
                Proof
            </button>
            <button id="btn_restart_proof" class="btn btn-primary mx-2 hidden" type="button"
                    onclick="restart_proof(this)">Restart Proof
            </button>

        </table>

        <div id="valid-premise-div"></div>
        <div id="valid-conclusion-div"></div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            Click here to understand what each button does!
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                             class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                        </svg>
                        Add a new line to the proof.
                        <br>

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="grey"
                             class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"
                            />
                        </svg>
                        Pull the current line out of the subproof.
                        <br>


                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue"
                             class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"
                            />
                        </svg>
                        Push the current line into a subproof.
                        <br>

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                             class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                            />
                        </svg>
                        Delete line from the proof.
                    </div>
                </div>
            </div>
        </div>


        <hr> {% if formset %} {{ formset.management_form }}

        <!-- Display lines -->
        <table class="table table-striped table-bordered table-hover table-sm table-responsive" id="proof-table">
            <thead id="column-titles">
            <tr class="font-weight-bold">

                <td>Line #</td>
                <td>Expression</td>
                <td>Rule</td>
            </tr>
            </thead>
            <div id="valid-premise-div"/>
            <div id="valid-conclusion-div"/>
            <br>
            <tbody id="proofline-list">
            {% for line in formset %} {% if line.DELETE.value %}
                <tr id="proofline_set-{{ forloop.counter0 }}" class="proofline_set hidden">
                    {% else %}
                <tr id="proofline_set-{{ forloop.counter0 }}" class="proofline_set">
            {% endif %}

            <td>{{ line.line_no }}</td>
            <td>{{ line.formula }}</td>
            <td>{{ line.rule }}</td>
            <td>
                <button class="insert-row btn btn-light" type="button"
                        name="proofline_set-{{ forloop.counter0 }}-insert-btn"
                        id="id_proofline_set-{{ forloop.counter0 }}-insert-btn"
                        value="Insert Row" onclick="insert_form(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                         class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                        />
                    </svg>
                </button>
            </td>

            <td>
                <button class="make_parent btn btn-light" type="button"
                        name="proofline_set-{{ forloop.counter0 }}-make_parent-btn"
                        id="id_proofline_set-{{ forloop.counter0 }}-make_parent-btn"
                        value="Make Parent" onclick="make_parent(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="grey"
                         class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"
                        />
                    </svg>

                </button>
            </td>

            <td>
                <button class="create_subproof btn btn-light" type="button"
                        name="proofline_set-{{ forloop.counter0 }}-create_subproof-btn"
                        id="id_proofline_set-{{ forloop.counter0 }}-create_subproof-btn" value="Create Subproof"
                        onclick="create_subproof(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue"
                         class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"
                        />
                    </svg>
                </button>

            </td>
            <td>
                <button class="delete-row btn btn-light" type="button"
                        name="proofline_set-{{ forloop.counter0 }}-delete-btn"
                        id="id_proofline_set-{{ forloop.counter0 }}-delete-btn"
                        value="Delete Row" onclick="delete_form(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                         class="bi bi-x-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                        />
                    </svg>
                </button>

            </td>

            <td hidden>{{ line.id }}{{ line.DELETE }}{{ line.ORDER }}</td>
            </tr>
            {% endfor %}
            </tbody>

            <tr id="empty-form" class="hidden">
                <td>{{ formset.empty_form.line_no }}</td>
                <td>{{ formset.empty_form.formula }}</td>
                <td>{{ formset.empty_form.rule }}</td>
                <td>
                    <button class="insert-row btn btn-light" type="button" name="proofline_set-__prefix__-insert-btn"
                            id="id_proofline_set-__prefix__-insert-btn"
                            value="Insert Row" onclick="insert_form(this)">

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                             class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                        </svg>
                    </button>
                </td>
                <td>
                    <button class="make_parent btn btn-light" type="button"
                            name="proofline_set-__prefix__-make_parent-btn"
                            id="id_proofline_set-__prefix__-make_parent-btn"
                            value="Make Parent" onclick="make_parent(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="grey"
                             class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"
                            />
                        </svg>

                    </button>
                </td>
                <td>
                    <button class="create_subproof btn btn-light" type="button"
                            name="proofline_set-__prefix__-create_subproof-btn"
                            id="id_proofline_set-__prefix__-create_subproof-btn"
                            value="Create Subproof" onclick="create_subproof(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue"
                             class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"
                            />
                        </svg>
                    </button>

                </td>
                <td>
                    <button class="delete-row btn btn-light" type="button" name="proofline_set-__prefix__-delete-btn"
                            id="id_proofline_set-__prefix__-delete-btn"
                            value="Delete Row" onclick="delete_form(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                             class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                            />
                        </svg>
                    </button>
                </td>

                <td hidden>{{ formset.empty_form.id }}{{ formset.empty_form.DELETE }}{{ formset.empty_form.ORDER }}</td>
            </tr>
        </table>
    {% endif %}

        <hr>


        <div class="row">
            <div class="col-4 col-sm-4">
                <button name="check_proof" type="submit" class="btn btn-primary mb-3">Check Proof</button>
            </div>
            Number of Steps:&nbsp
            <div id="line_counter">0</div>
        </div>

        <hr>
        <!-- Display validation errors from form fields-->
        {% for line in formset %} {% for field in line %} {% if field.errors %}
            <div class="container">
                {% for error in field.errors %}
                    <div class="row">
                        {% if line.line_no.value %}
                            <p>
                                <strong>Error on line {{ line.line_no.value }}:</strong> {{ error }}</p>
                        {% elif error == "This field is required." %}
                            <p>
                                <strong>Error:</strong> All fields are required</p>
                        {% else %}
                            <p>
                                <strong>Error:</strong> {{ error }}</p>

                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %} {% endfor %} {% endfor %}

        <!-- Display response from Proof Checker-->
        {% if response %} {% if response.err_msg %}
            <p>
            <div class="alert alert-primary" role="alert">
                Keep at it! Don't forget to save your work by clicking "Save"! This will allow you to return to your
                work on this later!
            </div>
            <strong>Result:</strong> {{ response.err_msg }} </p>


        {% else %}
            <p>
            <div class="alert alert-success" role="alert">
                Great job! Don't forget to save your work by clicking "Save"! This will allow you to view this correct
                proof later!
            </div>
            <strong>Result:</strong> The proof is valid and complete!</p>
        {% endif %} {% endif %}
        <hr>

    </form>

    <button id="download" name="download" type="submit" class="btn btn-primary mb-3">Download</button>

    <script src="{% static 'js/proof_checker.js' %}"></script>
    <script src="{% static 'js/syntax.js' %}"></script>
    <script src="{% static 'js/valid_input.js' %}"></script>
{% endblock %}