{% load static %}
<div id="right-menu-container">
    <div class="full-menu" xmlns="http://www.w3.org/1999/html">

        <div class="d-flex justify-content-center">
            <button id="rules" type="button" class="btn btn-primary mx-2 " onclick="showInformation(this.id)">Rules
            </button>
            <button id="help" type="button" class="btn btn-secondary  mx-2" onclick="showInformation(this.id)">Help
            </button>
        </div>

        <hr class="right-nav-divider">


        <div id="menu">

            <div id="rules-information">
                <div class="non-assignment-view">
                    <div class="rules-buttons">
                        <div class="mb-3 d-flex justify-content-center">
                            <button id="TFL" type="button" class="btn btn-primary mx-2" onclick="showRules(this.id)">TFL
                            </button>
                            <button id="FOL" type="button" class="btn btn-secondary mx-2" onclick="showRules(this.id)">
                                FOL
                            </button>

                        </div>
                    </div>
                </div>

                <div id="TFL-rules">
                    <div class="non-assignment-view">
                        <div class="d-flex justify-content-center">

                            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
                                    data-target="#collapseTFLRules"
                                    aria-expanded="false" aria-controls="collapseTFLRules">
                                Toggle Rules
                            </button>
                        </div>
                        <div class="collapse mt-4" id="collapseTFLRules">
                            <div class="card card-body">
                                <div class="d-flex justify-content-center mb-2 ">
                                    <button id="rules" type="button" class="btn btn-primary btn-sm mx-2 "
                                            onclick="selectAllTFL()" style="font-size: 10px">Select All
                                    </button>
                                    <button id="uncheck" type="button" class="btn btn-secondary btn-sm mx-2"
                                            onclick="deSelectAllTFL()" style="font-size: 10px">Select None
                                    </button>
                                </div>
                                <div class="basic-TFL-rules">
                                    <div class="font-weight-bolder">Basic TFL Rules:</div>

                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Conjunction" id="customSwitch1" checked>
                                        <label class="custom-control-label" for="customSwitch1">
                                            Conjunction
                                        </label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Disjunction" id="customSwitch2" checked>
                                        <label class="custom-control-label" for="customSwitch2">
                                            Disjunction
                                        </label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Negation" id="customSwitch3" checked>
                                        <label class="custom-control-label" for="customSwitch3">
                                            Negation
                                        </label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Implication" id="customSwitch4" checked>
                                        <label class="custom-control-label" for="customSwitch4">
                                            Implication
                                        </label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Biconditional" id="customSwitch5" checked>
                                        <label class="custom-control-label" for="customSwitch5">
                                            Biconditional
                                        </label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Indirect-Proof" id="customSwitch6" checked>
                                        <label class="custom-control-label" for="customSwitch6">
                                            Indirect Proof
                                        </label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Explosion" id="customSwitch7" checked>
                                        <label class="custom-control-label" for="customSwitch7">
                                            Explosion
                                        </label>
                                    </div>
                                </div>
                                <div class="derived-TFL-rules">
                                    <div class="font-weight-bolder mt-1">Derived TFL Rules:</div>

                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Reiteration" id="customSwitch8" checked>
                                        <label class="custom-control-label" for="customSwitch8">
                                            Reiteration
                                        </label>
                                    </div>

                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Double-Negation-Elimination" id="customSwitch9" checked>
                                        <label class="custom-control-label" for="customSwitch9">
                                            Double Negation Elimination
                                        </label>
                                    </div>

                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Disjunctive-Syllogism" id="customSwitch10" checked>
                                        <label class="custom-control-label" for="customSwitch10">
                                            Disjunctive Syllogism
                                        </label>
                                    </div>


                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Modus-Tollens" id="customSwitch11" checked>
                                        <label class="custom-control-label" for="customSwitch11">
                                            Modus Tollens
                                        </label>
                                    </div>


                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="Law-of-Excluded-Middle" id="customSwitch12" checked>
                                        <label class="custom-control-label" for="customSwitch12">
                                            Law of Excluded Middle
                                        </label>
                                    </div>


                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input trigger" name="TFL-check"
                                               data-trigger="De-Morgan-Rules" id="customSwitch13" checked>
                                        <label class="custom-control-label" for="customSwitch13">
                                            De Morgan Rules
                                        </label>
                                    </div>


                                </div>

                            </div>

                        </div>

                        <br>
                    </div>

                    <div class="basic-TFL-rules">
                        <div id="main-header">Basic TFL Rules:</div>
                        <div id="Conjunction">
                            <div id="item-name">Conjunction:</div>
                            <img src="{% static 'proofchecker/images/and_intro.png' %}" alt="Conjunction Introduction"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/and_elim1.png' %}" alt="Conjunction Elimination 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/and_elim2.png' %}" alt="Conjunction Elimination 2"
                                 class="py-3 px-1">
                        </div>
                        <div id="Disjunction">
                            <div id="item-name">Disjunction:</div>
                            <img src="{% static 'proofchecker/images/or_intro1.png' %}" alt="Disjunction Introduction 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/or_intro2.png' %}" alt="Disjunction Introduction 2"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/or_elim.png' %}" alt="Disjunction Elimination"
                                 class="py-3 px-1">
                        </div>
                        <div id="Negation">
                            <div id="item-name">Negation:</div>
                            <img src="{% static 'proofchecker/images/not_intro.png' %}" alt="Negation Introduction"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/not_elim.png' %}" alt="Negation Elimination"
                                 class="py-3 px-1">
                        </div>
                        <div id="Implication">
                            <div id="item-name">Implication:</div>
                            <img src="{% static 'proofchecker/images/implies_intro.png' %}"
                                 alt="Implication Introduction"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/implies_elim.png' %}" alt="Implication Elimination"
                                 class="py-3 px-1">
                        </div>
                        <div id="Biconditional">
                            <div id="item-name">Biconditional:</div>
                            <img src="{% static 'proofchecker/images/iff_intro.png' %}" alt="Biconditional Introduction"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/iff_elim1.png' %}"
                                 alt="Biconditional Elimination 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/iff_elim2.png' %}"
                                 alt="Biconditional Elimination 2"
                                 class="py-3 px-1">
                        </div>
                        <div id="Indirect-Proof">
                            <div id="item-name">Indirect Proof:</div>
                            <img src="{% static 'proofchecker/images/indirect_proof.png' %}" alt="Indirect Proof"
                                 class="py-3 px-1">
                        </div>
                        <div id="Explosion">
                            <div id="item-name">Explosion:</div>
                            <img src="{% static 'proofchecker/images/explosion.png' %}" alt="Explosion"
                                 class="py-3 px-1">
                        </div>
                    </div>
                    <div id="derived-TFL-rules">
                        <div id="main-header">Derived TFL Rules:</div>
                        <div id="Reiteration">
                            <div id="item-name">Reiteration:</div>
                            <img src="{% static 'proofchecker/images/reiteration.png' %}" alt="Reiteration"
                                 class="py-3 px-1">
                        </div>
                        <div id="Double-Negation-Elimination">
                            <div id="item-name">Double Negation Elimination:</div>
                            <img src="{% static 'proofchecker/images/dne.png' %}" alt="Double Negation Elimination"
                                 class="py-3 px-1">
                        </div>
                        <div id="Disjunctive-Syllogism">
                            <div id="item-name">Disjunctive Syllogism:</div>
                            <img src="{% static 'proofchecker/images/ds1.png' %}" alt="Disjunctive Syllogism 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/ds2.png' %}" alt="Disjunctive Syllogism 2"
                                 class="py-3 px-1">
                        </div>
                        <div id="Modus-Tollens">
                            <div id="item-name">Modus Tollens:</div>
                            <img src="{% static 'proofchecker/images/mt.png' %}" alt="Modus Tollens" class="py-3 px-1">
                        </div>
                        <div id="Law-of-Excluded-Middle">
                            <div id="item-name">Law of Excluded Middle:</div>
                            <img src="{% static 'proofchecker/images/lem.png' %}" alt="Law of Excluded Middle"
                                 class="py-3 px-1">
                        </div>
                        <div id="De-Morgan-Rules">
                            <div id="item-name">De Morgan Rules:</div>
                            <img src="{% static 'proofchecker/images/dem1.png' %}" alt="De Morgan Rule 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/dem2.png' %}" alt="De Morgan Rule 2"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/dem3.png' %}" alt="De Morgan Rule 3"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/dem4.png' %}" alt="De Morgan Rule 4"
                                 class="py-3 px-1">
                        </div>
                    </div>
                </div>
                <div id="FOL-rules">
                    <div class="non-assignment-view">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
                                    data-target="#collapseFOLRules"
                                    aria-expanded="false" aria-controls="collapseFOLRules">
                                Toggle Rules
                            </button>
                        </div>
                        <div class="collapse mt-4" id="collapseFOLRules">
                            <div class="card card-body">
                                <div class="d-flex justify-content-center mb-2 ">
                                    <button id="rules" type="button" class="btn btn-primary btn-sm mx-2"
                                            onclick="selectAllFOL()" style="font-size: 10px">Select All
                                    </button>
                                    <button id="help" type="button" class="btn btn-secondary btn-sm mx-2"
                                            onclick="deSelectAllFOL()" style="font-size: 10px">Select None
                                    </button>
                                </div>
                                <div class="font-weight-bolder">Basic FOL Rules:</div>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input trigger" name="FOL-check"
                                           data-trigger="Existential" id="customSwitch14" checked>
                                    <label class="custom-control-label" for="customSwitch14">
                                        Existential
                                    </label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input trigger" name="FOL-check"
                                           data-trigger="Universal" id="customSwitch15" checked>
                                    <label class="custom-control-label" for="customSwitch15">
                                        Universal
                                    </label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input trigger" name="FOL-check"
                                           data-trigger="Equality" id="customSwitch16" checked>
                                    <label class="custom-control-label" for="customSwitch16">
                                        Equality
                                    </label>
                                </div>


                                <div class="font-weight-bolder mt-1">Derived FOL Rules:</div>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input trigger" name="FOL-check"
                                           data-trigger="Conversion-of-Quantifiers" id="customSwitch17" checked>
                                    <label class="custom-control-label" for="customSwitch17">
                                        Conversion of Quantifiers
                                    </label>
                                </div>


                            </div>

                        </div>
                    </div>
                    <br>

                    <div id="basic-FOL-rules">
                        <div id="main-header">Basic FOL Rules:</div>
                        <div id="Existential">
                            <div id="item-name">Existential:</div>
                            <img src="{% static 'proofchecker/images/existential_intro.png' %}"
                                 alt="Existential Introduction"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/existential_elim.png' %}"
                                 alt="Existential Elimination"
                                 class="py-3 px-1">
                            <div>
                                <small>
                                    <b>Note:</b>
                                    <i>c</i> must not have appeared earlier in the proof</small>
                            </div>
                            <div>
                                <small>
                                    <b>Note:</b> B must not contain
                                    <i>c</i>
                                </small>
                                <hr>
                            </div>

                        </div>

                        <div id="Universal">
                            <div id="item-name">Universal:</div>
                            <img src="{% static 'proofchecker/images/universal_intro.png' %}"
                                 alt="Universal Introduction"
                                 class="py-3 px-1">
                            <div>
                                <small>
                                    <b>Note:</b>
                                    <i>c</i> must be a generic free variable</small>
                                <hr>
                            </div>

                            <img src="{% static 'proofchecker/images/universal_elim.png' %}" alt="Universal Elimination"
                                 class="py-3 px-1">
                        </div>

                        <div id="Equality">
                            <div id="item-name">Equality:</div>
                            <img src="{% static 'proofchecker/images/equality_intro.png' %}" alt="Equality Introduction"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/equality_elim1.png' %}"
                                 alt="Equality Elimination 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/equality_elim2.png' %}"
                                 alt="Equality Elimination 2"
                                 class="py-3 px-1">
                        </div>
                    </div>
                    <div id="derived-FOL-rules">
                        <div id="main-header">Derived FOL Rules:</div>
                        <div id="Conversion-of-Quantifiers">
                            <div id="item-name">Conversion of Quantifiers:</div>
                            <img src="{% static 'proofchecker/images/cq1.png' %}" alt="Conversion of Quantifiers 1"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/cq2.png' %}" alt="Conversion of Quantifiers 2"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/cq3.png' %}" alt="Conversion of Quantifiers 3"
                                 class="py-3 px-1">
                            <img src="{% static 'proofchecker/images/cq4.png' %}" alt="Conversion of Quantifiers 4"
                                 class="py-3 px-1">
                        </div>
                    </div>
                </div>
            </div>


            <div id="help-information">
                <div id="main-header">How to use:</div>

                <div id="sub-header">TFL Syntax Rules:</div>
                <div id="instruction"> Atomic sentences can be represented with uppercase letters A-Z</div>

                <div id="sub-header">FOL Syntax Rules:</div>
                <div id="instruction">
                    <p>The following rules explain how to represent an FOL expression:</p>
                    <p>
                        <b>Names (Objects):</b> a-r (lowercase)
                    <p>
                        <b>Variables:</b> s-z (lowercase)</p>
                    <p>
                        <b>Predicates:</b> A-R (uppercase)</p>
                    <p>
                        <b>Domains (Sets):</b> S-Z (uppercase)</p>
                </div>

                <div id="sub-header">Premises:</div>

                <div id="instruction"> Separate premises using semicolons (e.g. "A; B").</div>

                <div id="sub-header">Entering symbols:</div>

                <div id="instruction"> To enter math symbols, use the bold escape commands below while typing.</div>
                <table id="help-table">
                    <tbody>
                    <tr>
                        <td id="left">Conjunction</td>
                        <td id="center">\and</td>
                        <td id="right">∧</td>
                    </tr>
                    <tr>
                        <td id="left">Disjunction</td>
                        <td id="center">\or</td>
                        <td id="right">∨</td>
                    </tr>
                    <tr>
                        <td id="left">Negation</td>
                        <td id="center">\not</td>
                        <td id="right">¬</td>
                    </tr>
                    <tr>
                        <td id="left">Implication</td>
                        <td id="center">\imp</td>
                        <td id="right">→</td>
                    </tr>
                    <tr>
                        <td id="left">Biconditional</td>
                        <td id="center">\iff</td>
                        <td id="right">↔</td>
                    </tr>
                    <tr>
                        <td id="left">Contradiction</td>
                        <td id="center">\con</td>
                        <td id="right">⊥</td>
                    </tr>
                    <tr>
                        <td id="left">Universal Quantifier</td>
                        <td id="center">\all</td>
                        <td id="right">∀</td>
                    </tr>
                    <tr>
                        <td id="left">Existential Quantifier</td>
                        <td id="center">\exi</td>
                        <td id="right">∃</td>
                    </tr>
                    <tr>
                        <td id="left">Domain (Set) Membership</td>
                        <td id="center">\in</td>
                        <td id="right">∈</td>
                    </tr>
                    </tbody>
                </table>

                <div id="sub-header">Row numbering:</div>

                <div id="instruction"> Row numbers are represented as a combination of numbers and decimal points.</div>
                <table id="help-table">
                    <tbody>
                    <tr>
                        <td id="left-proof">1</td>
                        <td id="left">Not a subproof</td>
                    </tr>
                    <tr>
                        <td id="left-proof">2.1</td>
                        <td id="left">subproof of 2</td>
                    </tr>
                    <tr>
                        <td id="left-proof">2.2.1</td>
                        <td id="left">subproof of 2.2</td>
                    </tr>
                    <tr>
                        <td id="left-proof">2.2.2</td>
                        <td id="left">subproof of 2.2</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        // $('.basic-TFL-rules').hide();
        //$('.derived-TFL-rules').hide();
        //$('.rules-buttons').hide();

    });


    $(function () {
        $('.trigger').change(function () {
            let hiddenId = $(this).attr("data-trigger");
            if ($(this).is(':checked')) {
                $("#" + hiddenId).show();
            } else {
                $("#" + hiddenId).hide();
            }
        });
    });

</script>

<script type="text/javascript">


    function selectAllTFL() {
        const element = document.getElementsByName('TFL-check');
        for (let position = 0; position < element.length; position++) {
            if (element[position].type === 'checkbox')
                element[position].checked = true;
            let hiddenId = $(element[position]).attr("data-trigger");
            if ($(element[position]).is(':checked')) {
                $("#" + hiddenId).show();
            } else {
                $("#" + hiddenId).hide();
            }
        }
    }

    function deSelectAllTFL() {
        const element = document.getElementsByName('TFL-check');
        for (let position = 0; position < element.length; position++) {
            if (element[position].type === 'checkbox')
                element[position].checked = false;
            let hiddenId = $(element[position]).attr("data-trigger");
            if ($(element[position]).is(':checked')) {
                $("#" + hiddenId).show();
            } else {
                $("#" + hiddenId).hide();
            }

        }
    }

    function selectAllFOL() {
        const element = document.getElementsByName('FOL-check');
        for (let position = 0; position < element.length; position++) {
            if (element[position].type === 'checkbox')
                element[position].checked = true;
            let hiddenId = $(element[position]).attr("data-trigger");
            if ($(element[position]).is(':checked')) {
                $("#" + hiddenId).show();
            } else {
                $("#" + hiddenId).hide();
            }
        }
    }

    function deSelectAllFOL() {
        const element = document.getElementsByName('FOL-check');
        for (let position = 0; position < element.length; position++) {
            if (element[position].type === 'checkbox')
                element[position].checked = false;
            let hiddenId = $(element[position]).attr("data-trigger");
            if ($(element[position]).is(':checked')) {
                $("#" + hiddenId).show();
            } else {
                $("#" + hiddenId).hide();
            }

        }
    }


</script>

<script type="text/javascript">

    if ("{{ rules }}" !== "") {
        const rules_toggle = document.getElementsByClassName(`non-assignment-view`);
        for (let div_item = 0; div_item < rules_toggle.length; div_item++) {
            rules_toggle[div_item].style.display = "none";

        }
    }

    if ("{{ rules }}" === "tfl_basic") {
        document.getElementById(`FOL-rules`).style.display = "none";
        document.getElementById(`derived-TFL-rules`).style.display = "none";
    }

    if ("{{ rules }}" === "tfl_derived") {
        document.getElementById(`FOL-rules`).style.display = "none";
    }

    if ("{{ rules }}" === "fol_basic") {
        document.getElementById(`TFL-rules`).style.display = "none";
        document.getElementById(`derived-FOL-rules`).style.display = "none";
    }
    if ("{{ rules }}" === "fol_derived") {
        document.getElementById(`TFL-rules`).style.display = "none";
    }

</script>