{% extends 'proofchecker/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <br>
        <h4><b>View Proofs by Students</b></h4>
        <hr>
        <p><small style="color: darkred">Please select a student to view all proofs</small></p>
        <hr>
        <form action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 col-form-label">
                    <label for="id_students_proofs">Select Students</label>
                </div>
                <div class="col-md-8">
                    <select class="selectpicker" data-show-subtext="true" data-live-search="true" value="{{ student.pk }}" title="Select " id="id_students_proofs" onchange="onstudentproofselect(this)">
                        {% for student in students %}
                            <option value="{{ student.user.pk }}">{{ student.user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        {% if proofs %}
            <hr>
            <ol class="list-group">
                <li class="list-group-item list-group-item-primary">Student: {{ student.user.username }}</li>
                {% for proof in proofs %}
                    <li class="list-group-item">
                        <a href="{% url 'update_proof' proof.id %}" target="_blank">
                            {{ proof.name }}: {{ proof.premises }} ∴ {{ proof.conclusion }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
    <script>
        function onstudentproofselect(e) {
            let a = document.createElement('a');
            a.setAttribute('href', e.value);
            document.body.append(a);
            a.click();
        }
    </script>
{% endblock %}

{% block additionalFiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
