{% extends "proofchecker/base.html" %}

{% block content %}
    <div class="py-5 my-5 px-5 mx-5 d-flex justify-content-center">
        <div class="content-section">
            <h1>Reset your password</h1>
            <div class="d-flex justify-content-center">
                <p>We have emailed you instructions</p>
            </div>
            <div class="mt-4 d-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-info" type="submit">Go to Home</a>
        </div>

        </div>

    </div>
{% endblock %}