{% extends "proofchecker/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="py-5 my-5 px-5 mx-5 d-flex justify-content-center">
        <div class="content-section">
            {% if validlink %}
                <form method="POST">
                    {% csrf_token %}

                    <fieldset class="form-group">

                        <legend class="border-bottom mb-4 d-flex justify-content-center"><h2>Reset Password</h2>
                        </legend>

                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-info" type="submit">Change my password</button>
                    </div>

                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}