{% extends 'proofchecker/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <br>
        <h4><b>Assignments</b></h4>
        <hr>
        <a href="{% url 'add_assignment' %}" class="btn btn-primary btn-sm">Add a new assignment</a>
        <hr>
        <div class="row mt-3">
            {% for object in object_list %}
                <div class="card mx-2 mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        <h5 style="text-align: center"><b> {{ object.title }}</b>
                            
                            <!-- <a href="{% url 'duplicate_assignment' object.id %}" class="card-link btn btn-primary btn-sm">
                                <span>
                                    <i class="fa fa-copy"></i>
                                </span>
                            </a> 
                        COMMENTING OUT FOR STEVE'S VIDEO NEED TO FIX THIS -->
                        </h5>
                        
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Title:</b> {{ object.title }}</li>
                        <li class="list-group-item"><b>Course:</b> {{ object.course }}</li>
                        <li class="list-group-item"><b>Due By:</b> {{ object.due_by }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'assignment_details' object.id %}" class="card-link btn btn-primary btn-sm">
                            View / Edit</a>
                        <a href="{% url 'delete_assignment' object.id %}" class="card-link btn btn-secondary btn-sm">
                            Delete</a>
                        <a href="{% url 'get_csv_file' object.id %}" class="card-link btn btn-warning btn-sm">
                            Download</a>

                        {% if object.submission %}
                            <br><br>
                            <a href="{% url 'user_assignment_request' object.id %}" class="card-link btn btn-success btn-sm">
                                Student Delay Request</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block additionalFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}