@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#main {
    transition: margin-right .5s;
    padding: 16px;
}

#right-menu-container{
    min-width: 250px;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #eeeeee;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;

    transition: .2s;
}

.sidebar a:hover {
    color: #ff0000;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 3em;
    font-weight: bolder;

}


.alert {
    display: inline-block;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}


.buttons {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.hidden {
    display: none;
}


html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;


}


tt {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier",
    monospace;
}

.page-container {
    height: inherit;
    display: flex;
}


/* Premise and Conclusion Fields */
#premise-conclusion {
    width: 10%;
}

#id_rules {

    margin-bottom: 5px;
}

#id_name {

    margin-bottom: 5px;
}

#id_premises {
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px;
}

#id_conclusion {
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px;
}

#id_question {
    width: 100%;
    margin-bottom: 5px;
}

#id_grade {
    width: 100%;
    margin-bottom: 5px;
}


[id$=line_no] {
    width: 75px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}


#id_point {
    width: 100%;
    margin-bottom: 5px;
}

#id_target_steps {
    width: 100%;
    margin-bottom: 5px;
}

.make_parent:disabled {
    background-color: #e1e1e1 !important;
    border: none;
}


.footer-wrapper {
    min-height: calc(50vh - 30px);
}

body > footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    height: 40px;
    letter-spacing: 5px;
    font-size: 8px;
    color: #bbbbbb;
}

.drexel-logo {
    transform: translateY(15%);
    width: 40em;
    float: right;
    position: sticky;
    right: 10em;
    margin-left: 20em;
}

.line-no-CSS {
    margin-left: 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background: transparent;
    pointer-events: none;
}

.form-fields-CSS{
 height: 31px;
    border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
}


#home-text-container{
    width: 35em;
    line-height: 25px;
    font-size: 20px;
}

.home-btn{
    font-size: 20px;
    border-radius:40px;

    width: 6em;
}
@media screen and (min-width: 600px) {
    .home-container-left {
        position: relative;

        transform: translateY(30%);
        left: 130px;
        overflow: hidden;
    }
}
.home-title-text{
    font-size: 4.5em;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;

}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



