
#main {
    transition: margin-right .5s ease-in-out;
    padding: 16px;
}

#right-menu-container {
    min-width: 250px;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #eeeeee;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding-top: 90px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;

    transition: .2s ease-in-out;
}

.sidebar a:hover {
    color: #ff0000;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 3em;
    font-weight: bolder;

}


.alert {
    display: inline-block;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}


.buttons {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.hidden {
    display: none;
}


html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}


tt {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier",
    monospace;
}

.page-container {
    height: inherit;
    display: flex;
}


/* Premise and Conclusion Fields */
#premise-conclusion {
    width: 10%;
}

#id_rules {

    margin-bottom: 5px;
}

#id_name {

    margin-bottom: 5px;
}

#id_premises {
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px;
}

#id_conclusion {
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px;
}

#id_question {
    width: 100%;
    margin-bottom: 5px;
}

#id_grade {
    width: 100%;
    margin-bottom: 5px;
}


[id$=line_no] {
    width: 75px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}


#id_point {
    width: 100%;
    margin-bottom: 5px;
}

#id_target_steps {
    width: 100%;
    margin-bottom: 5px;
}

.make_parent:disabled {
    background-color: #e1e1e1 !important;
    border: none;
}


.footer-wrapper {
    min-height: calc(50vh - 30px);
}

body > footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    height: 40px;
    letter-spacing: 5px;
    font-size: 8px;
    color: #bbbbbb;
}

.drexel-logo {
    width: 30em;
    float: right;
    position: sticky;
    right: 15em;
    margin-left: 20em;
}


.line-no-CSS {
    margin-left: 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background: transparent;
    pointer-events: none;
}

.form-fields-CSS {
    height: 31px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.proof-button {
    background-color: #0d6efd;
    color: #ffffff;
    text-decoration: none;

    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 4px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 32px;
    -webkit-transition: max-width .5s ease-in-out;
    transition: max-width .5s ease-in-out;
}

.proof-button:active{

    background-color: #0057c9;

}

.proof-button:hover {
    max-width: 300px;

}

.proof-button-icon {
    font-weight: bolder;
    font-size: 2.5em;
    margin-right: 1px;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.proof-button-text {
    font-size: 18px;

    white-space: nowrap;
    padding-right: 7px;
}

* {
    transition: all .2s ease;
}
  
.extra-info {
    line-height: 30px;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 50px;
    color: red;
}

.info {
    font-size: 20px;
    padding-left: 5px;
    width: 20px;
    border-radius: 15px;
}

.info:hover {
    background-color: white;
    padding: 0 0 0 5px;
    width: 315px;
    text-align: left !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dc3545;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.slider:after {
    content: 'False';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'True';
  left: 40%;

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
  }